# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/
ENV/

# Environment files
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Test / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/
.cache/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

dlib-19.22.99-cp310-cp310-win_amd64.whl
opencv_python-4.1.1.26-cp37-cp37m-manylinux1_x86_64.whl
*.whl
main.py